*{
background-color: white;
}
#sq{
  width:140px;
  height:140px;
  background-color: blue;
}
#circle{
border-radius: 50%;
background-color: blue;
height:200px;
width: 200px;
}
#uptriangle{
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right:100px solid transparent;
  border-bottom: 200px solid blue;
}
#pacman{
width: 0px;
height:0px;
border-right: 60px solid transparent;
border-top: 60px solid blue;
border-left: 60px solid blue;
border-bottom: 60px solid blue;
border-top-left-radius: 60px;
border-top-right-radius:60px;
border-bottom-left-radius: 60px;
border-bottom-right-radius:60px;
}
