*{
  margin:0px;
  padding:0px;
  color:black;
}
#wrapper{
  width:1000px;
  height: auto;
  background-color:white;
  margin:0px;
}
#header{
display: inline-block;
margin-left: 200px;
margin-top: 65px;
position: absolute;
}

#globe img{
  width:200px;
  height:150px;
  margin-right: 500px;

}
#web{
background-color: #4A7EA8;
width: auto;
height: 100px;

}
#homebutt{
  width: 40px;
  height: 40px;
  display: inline-block;
  position: relative;
  bottom: 85px;
}
#home{
display: block;
vertical-align: top;
}
#home p{
display: inline-block;
vertical-align: top;
}
#phone{
display: inline-block;
margin-left: 130px;
}
#phone img{
width: 100px;
height: 130px;
margin-right: 20px;
display: inline-block;
}
#phonetext{
display: inline-block;
margin-right: 170px;
position: absolute;
}
#main{
display: inline-block;
border-top-color: black 10px;
font-size: 12px;
width: 600px;
height: auto;
margin-left: 80px;
}
#maincontent{
margin-left: 40px;
margin-top: 50px;
border-top: 2px solid grey;
}
#maincontent img{
width: 350px;
height: 200px;
margin-left: 140px;

}
#sidebar{
display: inline-block;
height: auto;
text-align: auto;
width: 200px;
vertical-align: top;
}
#sowhat{
  display: inline-block;
  text-align: center;
}
#button1{
  display: inline-block;
  background-color: #4882B0;
  height: 80px;
  width: 200px;
  border-radius: 18px;
  color: white;
  padding: 10px;
  margin-top: 100px;
}
#button1 button{
background-color: #4882B0;
color: white;
}
#button2{
  background-color: #ED7A0D;
  display: inline-block;
  height: 80px;
  width: 200px;
  border-radius: 18px;
  padding: 10px;
  margin-bottom: 50px;
}
#button2 button{
background-color:#ED7A0D;
color: white;
}
#dojo{
border-top: 2px solid grey;
display: inline-block;
background-image: url(images-internet/ad_background.png);
height:auto;
width: 300px;
margin-bottom: 50px;
}
#dojo h4{
color:white;
font-size: 40px;
text-align: center;
}
#dojo button{
background-color: #2FC6DD;
margin-left: 50px;
}
#footer{
  display: inline-block;
  width: 700px;
  height: 350px;
  border: black;
  margin-top: 50px;
  margin-left: 100px;
  border-left: 10px solid #2498E2;
  border-top: 10px solid #2498E2;
  border-right: 10px solid #2498E2;
}
#footer img{
  width: 200px;
  height:157px;
  display: inline-block;
}
#footwords h3{
color: #467DAB;
display: inline-block;
}
#footwords p{
display: inline-block;
}
#footwords{
  display: inline-block;
  width: 450px;
}
h1{
font-size: 75px;
color: grey;
margin-right: 150px;
}
h2{
color: white;
font-size: 50px;
}
#home h2{
color: #2DC8DF;
}
#home p{
  color:black;
}
#main ul, ol{
margin-left: 80px;
}
