<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Flask Page</title>
  </head>
  <body>
    <h2> My first flask template </h2>
    {% for number in range(0,other) %}
      <p>{{ greeting }} </p>
    {% endfor %}
    <form action="/users" method="post">
      <input type="text" name="first_name" value="" placeholder=" First Name">
      <input type="hidden" name="number" value="5">
      <button type="submit"
      name="submit">Submit</button>
    </form>
    <a href="/clear">Clear Session </a> 
  </body>
</html>
