/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 0px;
}
#wrapper{
 width: 950px;
 background-color: silver;
 margin: 0px auto;
 padding: 15px;

}
#header{
 height: 150px;
 background-color: green;
 margin-bottom: 20px;
}
#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 display: inline-block;
 vertical-align: top;
}
#main_content{
  padding: 15px;
 height: 400px;
 width: 700px;
 background-color: red;
 display: inline-block;
 margin-left: 15px;s
}
.subcontents{
 height: 200px;
 width: 210px;
 display: inline-block;
 margin-left: 3px;

 background-color: yellow;
}
#advertisement{
  margin-top: 25px;
 height: 120px;
 width: 660px;
 background-color: purple;
 display:inline-block;
}
